.btn {
    width: 100%;
    padding: 11px;
    border-radius: 26px;
    border: 2px solid #1F8871;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: nowrap;
    font-family: var(--poppins);
    font-size: 19px;
    font-weight: 500;
    line-height: 28.5px;
    color: #1F8871;

    .icon {
        flex-shrink: 0;
        width: 16px;
        height: 16px;
        object-fit: contain;
    }
}