.cardsContainer {
  display: flex;
  width: 1232.13px;
  padding: 26.37px 24px 26.37px;
  gap: 32.95px;
  height: 118.65px;
  margin-bottom: 343px;
}

.statistiCard {
  display: flex;
  width: 220.16px;
  background-color: #fff;
  border-radius: 16px;
  text-align: center;
}

.iconWrapper {
  margin-bottom: 8px;
}

.group-img {
  margin-right: 15.82px;
}

.title {
  margin: 0;
  color: #7a7a7a;
  font-size: 14px;
  margin-bottom: 6.05px;
}

.value {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}
