html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  min-width: 320px;
  font-family: "Poppins", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 67px;
}

.name-title {
  color: #226d64;
  font-size: 44px;
  width: 308px;
  align-self: center;
}

.name-2th {
  font-size: 48px;
}

.section-1 {
  display: grid;
  grid-template-columns: 12 1fr;
}

.charts {
  grid-column: 2/2;
  grid-row: 1/4;
  width: 609px;
  display: flex;
  flex-direction: column;
  margin: 0;
  align-items: flex-start;
}

.btn {
  border: none;
  cursor: pointer;
  background-color: inherit;
}

.footer-menuLink {
  display: flex;
  width: 287px;
  height: 53px;
  gap: 9px;
}

@media (max-width: 788px) {
  .container {
    max-width: 788px;
    padding: 0 20px;
  }
}
