body {
  font-family: "Poppins", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1140px;
  margin: 0 auto;
  padding: 44px;
}

.section-1 {
  display: grid;
  grid-template-columns: 12 1fr;
}

.charts {
  grid-column: 2/2;
  grid-row: 1/4;
  width: 524px;
  display: flex;
  flex-direction: column;
  margin: 0;
  align-items: flex-start;
}
