.charts-card {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 34px 47px 32.52px;
  width: 609px;
  height: 291px;
}

.chart-container {
  width: 40%;
  text-align: center;
}

.bar-chart-container {
  width: 50%;
}

.bar-chart-title {
  margin-bottom: 10px;
}
