.form-card {
  margin-bottom: 310px;
  width: 837px;
  height: 671px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 105px 108px;
  box-shadow: 4px 4px 54.9px rgba(0, 0, 0, 0.1);
  border-radius: 43px;
  background-image: url(".../../../../../public/sendAir.svg");
  background-position: 250px 70px;
  background-repeat: no-repeat;
}

.input-descr {
  margin: 0;
  font-size: 28px;
  font-weight: 400;
  color: #226d64;
  margin-bottom: 14px;
}

.pdf-uploader {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 621px;
  margin: 20px auto;
  font-family: "Poppins", sans-serif;
}

.uploader-label {
  border: 1px solid #226d64;
  border-radius: 20px;
  padding: 18px 32px;
  margin-bottom: 42px;
  cursor: pointer;
  text-align: left;
  position: relative;
  display: flex;
  align-items: center;
  color: #88b0a3;
  font-size: 16px;
  transition: all 0.3s;
}

.uploader-label:hover {
  border-color: #1e5143;
}

.uploader-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.uploader-content span {
  color: #208971;
  opacity: 40%;
  font-size: 20px;
  font-weight: 400;
}

.file-input {
  display: none;
}

.btn {
  width: 621px;
  padding: 13px 246.5px;
  color: #fff;
  font-size: 28px;
  font-weight: 400;
  background-color: #226d64;
  border-radius: 20px;
}
