.card {
  display: flex;
  flex-direction: column;
  width: 805px;
  height: 609px;
  border-radius: 33px;
  box-shadow: 4px 4px 34px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding: 71px 44px 62.5px;
  justify-content: start;
  margin-bottom: 343px;
}

.card-info {
  display: flex;
  flex-direction: column;
  margin-bottom: 77px;
  width: 174px;
}

.form-header-title {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  color: #226d64;
  margin-bottom: 7px;
  text-align: center;
}

.span-line {
  width: 171px;
  height: 5px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  background-color: #226d64;
}

.form-container {
  display: flex;
  width: 800px;
  gap: 79px;
  margin-bottom: 124px;
}

.image-container {
  position: relative;
  border-radius: 20px;
}

.image {
  border-radius: 20px;
}

.img-btn {
  position: absolute;
  bottom: -10px;
  right: -10px;
}

.input-control {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.input {
  width: 418px;
  padding: 16px 20px 11px;
  border-radius: 15px;
  border-color: #208970;
  font-size: 15px;
  font-weight: 400;
  color: #226d64;
}

.settingTitle {
  color: #226d64;
  font-size: 16px;
  font-weight: medium;
  letter-spacing: 0%;
  margin-bottom: 5px;
}

.titleDown {
  background-color: #226d64;
  width: 171px;
  height: 5px;
}

.setting-cart-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imageContainer {
  position: relative;
}

.btn {
  background-color: #248c76;
  border-radius: 15px;
  color: #fff;
  font-size: 15px;
  width: 190px;
  height: 50px;
  padding: 11px 72px;
  font-size: 18px;
  letter-spacing: 0%;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  background-color: #6ecfba;
}

.lable-title {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  color: #232323;
}
