.balance-graph {
  width: 609px;
  height: 291px;
  margin: 0;
  padding: 34px 47px 32.52px;
  margin-top: 30.13px;
}

.balance-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.graph-title {
  margin: 0;
  font-size: 20.3px;
  font-weight: 700;
  line-height: 27.1px;
  letter-spacing: -2%;
}

select {
  color: #a3aed0;
  width: 72.74px;
  font-size: 11.84px;
  font-weight: 700;
  letter-spacing: -2%;
  line-height: 20.3px;
  border: none;
  outline: none;
}

option {
  font-size: 11.84px;
  font-weight: 700;
  letter-spacing: -2%;
  line-height: 20.3px;
  border: none;
  outline: none;
}

.graph-info {
  display: flex;
  justify-content: space-between;
}

.graph-saves {
  width: 241.91px;
  height: 63.44px;
  padding: 14.38px 19.45px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0 15.23px 33.83px 0 rgba(112, 144, 176, 12%);
  border-radius: 6.77px;
}

.saves-block {
  margin: 0;
  font-size: 10.15px;
  font-weight: 300;
  line-height: 16.9px;
  letter-spacing: -2%;
}

.saves-info {
  display: flex;
}

.saves-percent {
  margin: 0;
  margin-right: 7.61px;
  font-size: 20.3px;
  font-weight: 700;
  line-height: 27.1px;
  letter-spacing: -2%;
}

.percent-descr {
  margin: 0;
  color: #05cd99;
  background-color: rgba(5, 205, 153, 10%);
  font-size: 10.15px;
  font-weight: 700;
  line-height: 16.9px;
  letter-spacing: -2%;
  text-align: center;
  padding: 4px 6.77px 1.65px 5.77px;
  border-radius: 49.06px;
}

.graph-balance {
  width: 241.91px;
  height: 63.44px;
  padding: 14.38px 19.45px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0 15.23px 33.83px 0 rgba(112, 144, 176, 12%);
  border-radius: 6.77px;
}

.balance-block {
  margin: 0;
  font-size: 10.15px;
  font-weight: 300;
  line-height: 16.9px;
  letter-spacing: -2%;
}

.balance-info {
  display: flex;
}

.balance-percent {
  margin: 0;
  margin-right: 7.61px;
  font-size: 20.3px;
  font-weight: 700;
  line-height: 27.1px;
  letter-spacing: -2%;
}

.percent2-descr {
  margin: 0;
  color: #e31a1a;
  background-color: rgba(227, 26, 26, 10%);
  font-size: 10.15px;
  font-weight: 700;
  line-height: 16.9px;
  letter-spacing: -2%;
  text-align: center;
  padding: 4px 6.77px 1.65px 5.77px;
  border-radius: 49.06px;
}
