.blogItem {
    display: flex;
    gap: 30px;
    margin-top: 70px;
    margin-bottom: 40px;
    &:nth-child(even) {
        flex-direction: row-reverse; 

      }
.imagesCover{
    position: relative;
    height: 424px;
    width: 376px;
    border-radius: 12px;
    overflow: hidden;
}
    .content {

        h3 {
            color: #226D64;
            text-align: center;
            font-family: Poppins;
            font-size: 41px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            margin-bottom: 50px;
        }

    }
}